<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - CmsShoppingCart</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <a class="navbar-brand font-weight-bold" href="/">CmsShoppingCart</a>
        <!--button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button-->

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                
                @Html.Action("PagesMenuPartial", "Pages")
            </ul>

            @*<ul class="navbar-nav float-right font-weight-bold">
                <li><a href="/" class="navbar-brand" target="_blank">CmsShoppingCart</a></li>
            </ul>*@

        </div>
    </nav>
      
    <div class="container body-content">
        <div class="row">

            @if (ViewBag.Sidebar == "Yes")
            {
                <div class="col-sm col-md-7">
                    @RenderBody()
                </div>
                <div class="col-sm col-md-3">

                </div>
            }
            else
            {
                <div class="col-sm col-md-10">
                    @RenderBody()
                </div>
            }
        </div>

        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/scripts")
    @RenderSection("scripts", required: false)
</body>
</html>
